// global
@import "global/variables";
@import "global/media";

.hero-block {
    padding: 3rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include maxWidth($sm) {
        padding: 0;

        .container {
            padding: 0;
        }
    }
}

.hero-block__panel {
    padding: 2rem;
    padding-top: 4rem;
    color: $white;
    background-color: rgba($primary, 0.9);

    @include maxWidth($md) {
        padding-top: 2rem;
    }
}

.hero-block__border {
    margin: 0;
    position: relative;
    border: 0.2rem solid rgba($white, 0.5);
    border-top: 0;

    @include maxWidth($md) {
        border-top: 0.2rem solid rgba($white, 0.5);
    }
}

.hero-block__header {
    top: -2rem;
    right: -0.2rem;
    left: -0.2rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    position: absolute;

    @include maxWidth($md) {
        margin-top: 2rem;
        top: 0;
        left: 0;
        padding: 0 2rem;
        right: auto;
        position: relative;
        text-align: left;
    }

    h3,
    .heading-3 {
        font-weight: bold;
        display: inline-block;
        padding: 0 2rem;
        margin-bottom: 0;
        position: relative;
        color: $white;

        &::before,
        &::after {
            content: '';
            top: 1.8rem;
            width: 100vw;
            height: 0.2rem;
            position: absolute;
            border-top: 0.2rem solid rgba($white, 0.5);
        }

        &::before {
            left: 100%;
        }

        &::after {
            right: 100%;
        }

        @include maxWidth($md) {
            padding: 0;
            display: block;

            &::before,
            &::after {
                display: none;
            }
        }
    }
}

.hero-block__body {
    z-index: 1;
    padding: 0 2rem;
    display: flex;
    position: relative;
    flex-direction: column;

    > *:first-child {
        margin-top: 3rem;

        @include maxWidth($sm) {
            margin-top: 2rem;
        }
    }

    h4 {
        margin-bottom: 2.5rem;
        line-height: 2.6rem;
    }

    p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 2.5rem;

        @include maxWidth($lg) {
            font-size: 1.6rem;
            line-height: 2.6rem;
        }
    }
}

.hero-block__content {
    margin-top: 2.5rem;

    &::after {
        content: '';
        opacity: 0.6;
        width: 100%;
        height: 0.1rem;
        display: flex;
        position: relative;
        background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFF 48%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
    }

    &:last-child {

        &::after {
            display: none;
        }
    }

    p {
        margin-bottom: 2.5rem;
    }
}
