// global
@import "global/variables";
@import "global/media";


.media-grid-boxes {
    padding: 6rem 0 4rem;
    position: relative;

    @include maxWidth($sm) {
        padding: 4rem 0;
    }

    &.alignfull {

        .container {
            max-width: 100%;
        }
    }

    &.alignwide {
        // do stuff
    }
}

.media-heading {
    text-align: center;

    h3 {
        color: #bd492d;
    }
}

.media-col {
    display: flex;
    flex: 0 0 auto;
    width: 33.33333333%;

    @include maxWidth($lg) {
        width: 50%;
    }

    @include maxWidth($sm) {
        width: 100%;
    }

    @include minWidth($lg) {
        &:not(:first-child) {
            padding-left: 2.2rem;
        }

        &:not(:last-child) {
            padding-right: 2.2rem;
        }
    }
}

.media-card {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 2.5rem;
    background-color: #f6b398;
    border: 0.05rem solid $grey400;
}

.media-image {
    padding-top: 56.25%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.media-content {
    padding: 2rem;
    flex: 1 0;
    display: flex;
    flex-direction: column;

    h4 {
        color: #bd492d;
        flex: 1 0;
    }

    p {
        color: $white;
    }
}
